exports/n8n-real-import-productos-original.json
{"updatedAt":"2026-06-04T04:11:01.316Z","createdAt":"2026-04-01T13:34:33.560Z","id":"ux5h4tbSHE6SfRXA","name":"Real Import Productos","description":null,"active":true,"isArchived":false,"nodes":[{"parameters":{"assignments":{"assignments":[{"id":"61923bb3-1c92-412e-8f42-dc7abb71ed28","name":"AFIRMA- Oncología","value":"Afirma GSC","type":"string"},{"id":"d53dec9d-ac48-4426-bc9e-172006587709","name":"Carrier","value":"Unity Carrier","type":"string"},{"id":"352bd32f-2242-431e-9f03-bffdd36bda2f","name":"Decision","value":"Decision DX: Add On","type":"string"},{"id":"cee527dd-45cc-43b5-ab33-43094bbd1a9d","name":"4KSCORE","value":"4Kscore","type":"string"},{"id":"d24cdfaa-609a-4b48-ac8a-f9b590aebd45","name":"Confirm MDx","value":"Confirm MDX","type":"string"},{"id":"95aa90c0-e3b4-404e-8106-10669e345cd0","name":"MATERNIT GENOME","value":"MaterniT Genome","type":"string"},{"id":"1ccd7e11-4708-40be-aedf-c214a8360ea5","name":"MATERNIT 21 + SCA","value":"MaterniT21","type":"string"},{"id":"b427500e-d8cc-40a7-9e8e-42c7fc02542a","name":"MATERNIT 21 + SCA + ESS","value":"MaterniT21 Plus","type":"string"},{"id":"265bbeea-bb40-4bc0-9c82-d62c61bd69e2","name":"PANEL CA HEREDITARIO EXTENDIDO","value":"Invitae Multi-Cancer Panel","type":"string"},{"id":"5cb60632-d78b-48d4-bab0-615ae3039765","name":"PANEL GENETICO INVITAE","value":"Panel Genetico Invitae","type":"string"},{"id":"d4e66d8c-58b5-49f0-98b9-887852b593db","name":"PATERNIDAD PRE","value":"Paternidad Prenatal BGI","type":"string"},{"id":"dc3d206e-c8d3-4859-b744-7574f010d249","name":"SENTIS™ Lung Cancer Medication Guidance (tissue, 50 genes)","value":"SENTIS™ Panel Gástrico (Tissue, 20 genes)","type":"string"},{"id":"2e93d807-5395-4fd3-bd19-4d7eab47335b","name":"SENTIS™ Lung Cancer Panel (Tissue, 20 genes)","value":"SENTIS™ Lung Cancer Panel (Tissue)","type":"string"},{"id":"6964e2d3-6c0a-442a-a871-37ecdd714ee1","name":"SENTIS™ Non-invasive Lung Cancer Panel (ctDNA, 13 genes)","value":"SENTIS™ Non-invasive Lung Cancer Panel (ctDNA)","type":"string"},{"id":"4245a566-7491-481f-8ea0-89a716a1a33a","name":"Sentis Discovery CTDNA","value":"Sentis Cancer + Discovery (B)","type":"string"},{"id":"3da5fff0-806f-47fa-91a0-bd4cf7d221a5","name":"Sentis Discovery Tissue","value":"Sentis Cancer + Discovery (T)","type":"string"},{"id":"202d3430-8d9a-4fa9-a667-66de9e0f612e","name":"Sentis: Multi-Cancer Precision Medication Guidance","value":"Sentis: Multi-Cancer Precision Medication Guidance (ctDNA)","type":"string"},{"id":"6e637c5b-42f9-456b-a7c3-ca98068f692a","name":"Unity Básico","value":"Unity","type":"string"},{"id":"8187f253-e0cb-48ee-81d9-bd9508925b28","name":"[CellSearch CTC] CellSearch CTC","value":"CellSearch CTC","type":"string"},{"id":"66834070-c0c7-452c-903a-87b54c19b13e","name":"[Genomic Prostate Score (GPS)] ONCOTYPE DX GPS (Próstata)","value":"Genomic Prostate Score","type":"string"},{"id":"9ebc05b1-38b7-47c9-a176-9013713ffdf8","name":"[Genomind Professional PGx] Genomind Profesional PGx","value":"Genomind Profesional PGx","type":"string"},{"id":"05350eca-9b10-419b-854e-cea387c92523","name":"[Oncotype Dx Mama] ONCOTYPE DX MAMA","value":"Oncotype Dx Mama","type":"string"},{"id":"b0e96ff2-6c34-447c-bcbe-ee9071a099c5","name":"[Tempus xF +] Tempus xF + biopsia liquida","value":"Tempus xF + biopsia liquida","type":"string"},{"id":"468e1336-4ca3-419d-b701-42d737e07767","name":"[XT + XR] Tempus XT + XR Tejido","value":"Tempus XT + XR Tejido","type":"string"},{"id":"12e98e58-fa5a-4625-b910-ba3a58b3c1ef","name":"[mirTHYpe FULL] Mir-THYpe(R)","value":"mirTHYpe FULL","type":"string"},{"id":"8448634f-9639-4e9a-bce7-a40ca99567d9","name":"[mirTHYpe preOp] mirTHYpe preOp","value":"mirTHYpe preOp","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-272,-272],"id":"4ca2e04a-ea33-4c10-8863-886fb8274381","name":"Edit Fields"},{"parameters":{"url":"https://southgenetics.odoo.com/jsonrpc","sendBody":true,"specifyBody":"json","jsonBody":"{\n  \"jsonrpc\": \"2.0\",\n  \"method\": \"call\",\n  \"params\": {\n    \"service\": \"object\",\n    \"method\": \"execute_kw\",\n    \"args\": [\n      \"zanello1234-southgeneticsv17-main-10564043\",\n      193,\n      \"@ALFON2004so\",\n      \"account.invoice.report\",\n      \"read_group\",\n      [\n        [\n          [\"move_type\", \"in\", [\"out_invoice\", \"out_refund\"]],\n          [\"state\", \"not in\", [\"draft\", \"cancel\"]],\n          [\"invoice_date\", \">=\", \"2026-04-01\"],\n          [\"invoice_date\", \"<=\", \"2026-12-31\"],\n          [\"partner_id\", \"!=\", 43633], \n          [\"partner_id\", \"!=\", 80637]\n        ],\n        [\n          \"quantity:sum\",\n          \"price_subtotal:sum\"\n        ],\n        [\n          \"invoice_date:day\",\n          \"company_id\",\n          \"product_id\",\n          \"partner_id\",\n          \"move_id\",\n          \"account_id\",\n          \"referrer_id\",\n          \"product_categ_id\"\n        ]\n      ],\n      {\n        \"lazy\": false\n      }\n    ]\n  }\n}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.3,"position":[176,224],"id":"212195ce-7888-48e8-9c65-5e03493e5dff","name":"HTTP Request3"},{"parameters":{"url":"https://southgenetics.odoo.com/jsonrpc","sendHeaders":true,"specifyHeaders":"json","jsonHeaders":"{\n  \"Content-Type\": \"application/json\"\n}\n","sendBody":true,"specifyBody":"json","jsonBody":"{\n  \"jsonrpc\": \"2.0\",\n  \"method\": \"call\",\n  \"params\": {\n    \"service\": \"common\",\n    \"method\": \"authenticate\",\n    \"args\": [\"zanello1234-southgeneticsv17-main-10564043\", \"azabaleta@southgenetics.com\", \"@ALFON2004so\", {}]\n  },\n  \"id\": 1\n}\n","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.3,"position":[-48,224],"id":"46b47afa-b5c8-4462-811b-bc6d40c2d1d5","name":"login1"},{"parameters":{"jsCode":"// =========================\n// CONFIG - productos a excluir por ID\n// =========================\nconst PRODUCTOS_EXCLUIDOS = new Set([]);\n\n// =========================\n// INPUT\n// =========================\nconst rows = $input.first().json.result ?? [];\n\n// =========================\n// Helpers\n// =========================\nconst normalize = (s) =>\n  String(s ?? \"\").replace(/\\s+/g, \" \").trim().toLowerCase();\n\nconst tieneValor = (v) =>\n  v !== null && v !== undefined && String(v).trim() !== \"\";\n\nconst empresasPermitidas = [\n  \"southgenetics llc argentina\",\n  \"southgenetics llc méxico\",\n  \"southgenetics llc uruguay\",\n  \"southgenetics llc colombia\",\n  \"southgenetics llc chile\",\n  \"southgenetics llc venezuela\",\n  \"southgenetics llc\"\n];\n\nconst esEmpresaValida = (empresa) =>\n  empresasPermitidas.includes(normalize(empresa));\n\n// =========================\n// Validación\n// =========================\nif (rows.length > 0) {\n  if (!Object.prototype.hasOwnProperty.call(rows[0], \"company_id\"))\n    throw new Error(\"La respuesta no trae company_id. Revisá el read_group.\");\n\n  if (!Object.prototype.hasOwnProperty.call(rows[0], \"partner_id\"))\n    throw new Error(\"La respuesta no trae partner_id. Revisá el read_group.\");\n\n  if (!Object.prototype.hasOwnProperty.call(rows[0], \"referrer_id\"))\n    throw new Error(\"La respuesta no trae referrer_id. Revisá el read_group.\");\n\n  if (!Object.prototype.hasOwnProperty.call(rows[0], \"product_id\"))\n    throw new Error(\"La respuesta no trae product_id. Revisá el read_group.\");\n\n  if (!Object.prototype.hasOwnProperty.call(rows[0], \"product_categ_id\"))\n    throw new Error(\"La respuesta no trae product_categ_id. Revisá el read_group.\");\n\n  if (!Object.prototype.hasOwnProperty.call(rows[0], \"move_id\"))\n    throw new Error(\"La respuesta no trae move_id. Revisá el read_group.\");\n}\n\n// =========================\n// Limpieza, filtrado y salida\n// =========================\nconst resultado = [];\n\nfor (const r of rows) {\n  const empresa = Array.isArray(r.company_id)\n    ? String(r.company_id[1] ?? \"\").trim()\n    : \"\";\n\n  const empresa_id = Array.isArray(r.company_id)\n    ? r.company_id[0]\n    : null;\n\n  const producto = Array.isArray(r.product_id)\n    ? String(r.product_id[1] ?? \"\").trim()\n    : \"\";\n\n  const producto_id = Array.isArray(r.product_id)\n    ? r.product_id[0]\n    : null;\n\n  const product_categ = Array.isArray(r.product_categ_id)\n    ? String(r.product_categ_id[1] ?? \"\").trim()\n    : \"\";\n\n  const product_categ_id = Array.isArray(r.product_categ_id)\n    ? r.product_categ_id[0]\n    : null;\n\n  const partner = Array.isArray(r.partner_id)\n    ? String(r.partner_id[1] ?? \"\").trim()\n    : \"\";\n\n  const partner_id = Array.isArray(r.partner_id)\n    ? r.partner_id[0]\n    : null;\n\n  const referrer = Array.isArray(r.referrer_id)\n    ? String(r.referrer_id[1] ?? \"\").trim()\n    : \"\";\n\n  const referrer_id = Array.isArray(r.referrer_id)\n    ? r.referrer_id[0]\n    : null;\n\n  const move_id = Array.isArray(r.move_id)\n    ? r.move_id[0]\n    : null;\n\n  const move_nombre = Array.isArray(r.move_id)\n    ? String(r.move_id[1] ?? \"\").trim()\n    : \"\";\n\n  const fecha_dia = String(r[\"invoice_date:day\"] ?? \"\").trim();\n\n  const fecha_dia_inicio =\n    String(r.__range?.[\"invoice_date:day\"]?.from ?? \"\").trim();\n\n  const cantidad = Number(r.quantity ?? 0);\n\n  const precio_total = Number(r.price_subtotal ?? 0);\n\n  // =========================\n  // Filtros\n  // =========================\n  const fechaValida =\n    tieneValor(fecha_dia_inicio) || tieneValor(fecha_dia);\n\n  if (\n    !fechaValida ||\n    !tieneValor(empresa) ||\n    !tieneValor(partner) ||\n    !tieneValor(producto) ||\n    !esEmpresaValida(empresa) ||\n    PRODUCTOS_EXCLUIDOS.has(producto_id)\n  ) continue;\n\n  resultado.push({\n    fecha_dia,\n    fecha_dia_inicio,\n\n    move_id,\n    move_nombre,\n\n    empresa_id,\n    empresa,\n\n    partner_id,\n    partner,\n\n    referrer_id,\n    referrer,\n\n    product_categ_id,\n    product_categ,\n\n    producto_id,\n    producto,\n\n    cantidad,\n\n    precio_unitario:\n      cantidad !== 0\n        ? precio_total / cantidad\n        : 0,\n\n    precio_total,\n  });\n}\n\n// =========================\n// Ordenar\n// =========================\nresultado.sort((a, b) => {\n  if ((a.fecha_dia_inicio || \"\") < (b.fecha_dia_inicio || \"\")) return -1;\n  if ((a.fecha_dia_inicio || \"\") > (b.fecha_dia_inicio || \"\")) return 1;\n\n  if ((a.empresa || \"\") < (b.empresa || \"\")) return -1;\n  if ((a.empresa || \"\") > (b.empresa || \"\")) return 1;\n\n  if ((a.partner || \"\") < (b.partner || \"\")) return -1;\n  if ((a.partner || \"\") > (b.partner || \"\")) return 1;\n\n  if ((a.producto || \"\") < (b.producto || \"\")) return -1;\n  if ((a.producto || \"\") > (b.producto || \"\")) return 1;\n\n  return 0;\n});\n\n// =========================\n// Salida final\n// =========================\nreturn resultado.map((r) => ({\n  json: r\n}));"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[400,224],"id":"78bc9a5a-67be-4115-a776-a3173c1e50c0","name":"Code in JavaScript9"},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[656,224],"id":"c95a3477-74ee-4738-903e-02468575aabd","name":"Loop Over Items2"},{"parameters":{"tableId":"ventas","fieldsUi":{"fieldValues":[{"fieldId":"fecha","fieldValue":"={{ $('Loop Over Items2').item.json.fecha_dia_inicio }}"},{"fieldId":"test","fieldValue":"={{ $json.alias }}"},{"fieldId":"amount","fieldValue":"={{ $('Loop Over Items2').item.json.precio_total }}"},{"fieldId":"company","fieldValue":"={{ $('Loop Over Items2').item.json.empresa }}"},{"fieldId":"id_producto","fieldValue":"={{ $json.id }}"},{"fieldId":"partner","fieldValue":"={{ $('Loop Over Items2').item.json.partner }}"},{"fieldId":"quantity","fieldValue":"={{ $('Loop Over Items2').item.json.cantidad }}"},{"fieldId":"move_id","fieldValue":"={{ $('Loop Over Items2').item.json.move_id }}"},{"fieldId":"move_nombre","fieldValue":"={{ $('Loop Over Items2').item.json.move_nombre }}"},{"fieldId":"medico","fieldValue":"={{ $('Loop Over Items2').item.json.referrer }}"},{"fieldId":"institucion","fieldValue":"={{ $('Code in JavaScript12').item.json.institucion || null}}"},{"fieldId":"pais","fieldValue":"={{ $('Code in JavaScript').item.json.country }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[3824,224],"id":"d0032121-cfcc-4ee4-9dd1-0476272304bd","name":"Create a row2","credentials":{"supabaseApi":{"id":"XHcaljVEAHxnAcxd","name":"P&L"}},"onError":"continueErrorOutput"},{"parameters":{"operation":"get","tableId":"products","filters":{"conditions":[{"keyName":"id_odoo","keyValue":"={{ $('Loop Over Items2').item.json.producto_id }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[2496,144],"id":"df22f731-4d7a-4fb8-ad4e-9c609daccfa0","name":"Get a row2","alwaysOutputData":true,"credentials":{"supabaseApi":{"id":"XHcaljVEAHxnAcxd","name":"P&L"}}},{"parameters":{"jsCode":"const items = $input.all();\n\n// Filtrar solo los que tienen error\nconst errores = items\n  .filter(i => i.json.error)\n  .map((i, index) => ({\n    index: index,\n    error: i.json.error,\n    data_original: i.json // opcional: podés ajustar esto\n  }));\n\nreturn [\n  {\n    json: {\n      total_procesados: items.length,\n      total_errores: errores.length,\n      errores: errores\n    }\n  }\n];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1264,-48],"id":"b820e116-1ecd-4469-8bc0-38b536373e3e","name":"Code in JavaScript11"},{"parameters":{"jsCode":"const rows = $input.all().map(item => item.json);\n\nconst cantidadesPorEmpresa = new Map();\n\nfor (const row of rows) {\n  const empresa = row.empresa || \"Sin empresa\";\n  const cantidad = Number(row.cantidad || 0);\n\n  cantidadesPorEmpresa.set(\n    empresa,\n    (cantidadesPorEmpresa.get(empresa) || 0) + cantidad\n  );\n}\n\nreturn [...cantidadesPorEmpresa.entries()].map(([empresa, total_cantidad]) => ({\n  json: {\n    empresa,\n    total_cantidad\n  }\n}));"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[624,32],"id":"a0ba8bdb-9e90-4975-912e-c1776698f724","name":"Code in JavaScript8"},{"parameters":{"jsCode":"const items = $input.all();\n\n// =========================\n// Acumular cantidades por empresa\n// =========================\nconst cantidadesPorEmpresa = {};\n\nfor (const item of items) {\n  const empresa = item.json.empresa || \"Sin empresa\";\n  const cantidad = Number(item.json.cantidad) || 0;\n\n  if (!cantidadesPorEmpresa[empresa]) {\n    cantidadesPorEmpresa[empresa] = 0;\n  }\n\n  cantidadesPorEmpresa[empresa] += cantidad;\n}\n\n// =========================\n// Salida\n// =========================\nreturn Object.entries(cantidadesPorEmpresa).map(([empresa, cantidad_total]) => ({\n  json: {\n    empresa,\n    cantidad_total\n  }\n}));"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[624,416],"id":"ddf9e093-3309-41c2-9749-8607e9a102a9","name":"Code in JavaScript10"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"86315b31-6d82-4e7b-ba10-b5af6d47cf47","leftValue":"={{ $json.id }}","rightValue":"","operator":{"type":"string","operation":"empty","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.3,"position":[2672,144],"id":"e78e9fb8-af56-4848-9225-1a5ed9541ad4","name":"If"},{"parameters":{"tableId":"products","fieldsUi":{"fieldValues":[{"fieldId":"name","fieldValue":"={{ $json.partner_ref }}"},{"fieldId":"base_price","fieldValue":"={{ $json.sale_avg_price }}"},{"fieldId":"currency","fieldValue":"={{ $json.company_currency_id[1] }}"},{"fieldId":"user_id","fieldValue":"6d02200b-5a44-4883-a392-34ca35ce0b6d"},{"fieldId":"category","fieldValue":"={{ $json.categ_id[1] }}"},{"fieldId":"alias","fieldValue":"={{ $json.partner_ref }}"},{"fieldId":"id_odoo","fieldValue":"={{ $json.id }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[3600,48],"id":"887a71a5-959c-435c-a7d2-0560b3bab5ed","name":"Create a row1","credentials":{"supabaseApi":{"id":"XHcaljVEAHxnAcxd","name":"P&L"}}},{"parameters":{"resource":"custom","customResource":"product.product","operation":"get","customResourceId":"={{ $('Loop Over Items2').item.json.producto_id }}","options":{}},"type":"n8n-nodes-base.odoo","typeVersion":1,"position":[3376,48],"id":"394ffdf1-696a-4618-8e19-c41b3f5752be","name":"Get an item","credentials":{"odooApi":{"id":"h3Ow1x6KQ08bMDHt","name":"Conexion Alfonso Produccion"}}},{"parameters":{"operation":"update","tableId":"products","filters":{"conditions":[{"keyName":"id","condition":"eq","keyValue":"={{ $json.id }}"}]},"fieldsUi":{"fieldValues":[{"fieldId":"id_odoo","fieldValue":"={{ $json.id_odoo }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[3600,240],"id":"599ac4c2-f3b6-4817-b733-17c791454e5b","name":"Update a row","credentials":{"supabaseApi":{"id":"XHcaljVEAHxnAcxd","name":"P&L"}}},{"parameters":{"operation":"get","tableId":"ventas","filters":{"conditions":[{"keyName":"id_producto","keyValue":"={{ $json.id }}"},{"keyName":"partner","keyValue":"={{ $('Loop Over Items2').item.json.partner }}"},{"keyName":"fecha","keyValue":"={{ $('Loop Over Items2').item.json.fecha_dia_inicio }}"},{"keyName":"company","keyValue":"={{ $('Loop Over Items2').item.json.empresa }}"},{"keyName":"move_id","keyValue":"={{ $('Loop Over Items2').item.json.move_id }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[4048,224],"id":"b6732dcd-a245-4ede-a0b0-d3a79549e1df","name":"Get a row1","credentials":{"supabaseApi":{"id":"XHcaljVEAHxnAcxd","name":"P&L"}}},{"parameters":{"operation":"update","tableId":"ventas","filters":{"conditions":[{"keyName":"id","condition":"eq","keyValue":"={{ $json.id }}"}]},"fieldsUi":{"fieldValues":[{"fieldId":"move_id","fieldValue":"={{ $('Loop Over Items2').item.json.move_id }}"},{"fieldId":"move_nombre","fieldValue":"={{ $('Loop Over Items2').item.json.move_nombre }}"},{"fieldId":"medico","fieldValue":"={{ $('Loop Over Items2').item.json.referrer }}"},{"fieldId":"institucion","fieldValue":"={{ $('Code in JavaScript12').item.json.institucion }}"},{"fieldId":"pais","fieldValue":"={{ $('Code in JavaScript').item.json.country }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[4272,368],"id":"74d112c9-35b9-4f62-886f-078c7f80e79d","name":"Update a row1","credentials":{"supabaseApi":{"id":"XHcaljVEAHxnAcxd","name":"P&L"}}},{"parameters":{"rule":{"interval":[{}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.3,"position":[-272,224],"id":"aaf45a30-0f0f-4042-8fa7-4e8b18b8c806","name":"Schedule Trigger"},{"parameters":{"url":"https://southgenetics.odoo.com/jsonrpc","sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"jsonrpc\": \"2.0\",\n  \"method\": \"call\",\n  \"params\": {\n    \"service\": \"object\",\n    \"method\": \"execute_kw\",\n    \"args\": [\n      \"zanello1234-southgeneticsv17-main-10564043\",\n      193,\n      \"@ALFON2004so\",\n      \"res.partner\",\n      \"read\",\n      [\n        [\n                    {{ $('Loop Over Items2').item.json.referrer_id }}\n        ]\n      ],\n      {\n        \"fields\": [\n          \"id\",\n          \"institucion_id\",\n          \"name\",\n          \"country_id\",\n          \"parent_id\",\n          \"commercial_partner_id\",\n          \"company_name\",\n          \"is_company\"\n        ]\n      }\n    ]\n  }\n}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.3,"position":[1488,80],"id":"b68a33bc-82bb-492c-a6e2-de25dea62af0","name":"HTTP Request4"},{"parameters":{"jsCode":"// =========================\n// INPUT\n// =========================\nconst data = $input.first().json;\n\n// El array real viene dentro de result\nconst rows = data.result ?? [];\n\n// =========================\n// OUTPUT\n// =========================\nconst resultado = [];\n\nfor (const r of rows) {\n\n  resultado.push({\n    json: {\n      id: r.id ?? null,\n\n      nombre: r.name ?? \"\",\n\n      institucion_id: Array.isArray(r.institucion_id)\n        ? r.institucion_id[0]\n        : null,\n\n      institucion: Array.isArray(r.institucion_id)\n        ? r.institucion_id[1]\n        : \"\",\n\n      parent_id: Array.isArray(r.parent_id)\n        ? r.parent_id[0]\n        : null,\n\n      parent_nombre: Array.isArray(r.parent_id)\n        ? r.parent_id[1]\n        : \"\",\n\n      commercial_partner_id: Array.isArray(r.commercial_partner_id)\n        ? r.commercial_partner_id[0]\n        : null,\n\n      commercial_partner: Array.isArray(r.commercial_partner_id)\n        ? r.commercial_partner_id[1]\n        : \"\",\n\n      country_id: Array.isArray(r.country_id)\n        ? r.country_id[0]\n        : null,\n\n      country: Array.isArray(r.country_id)\n        ? r.country_id[1]\n        : \"\",\n\n      company_name: r.company_name || \"\",\n      is_company: r.is_company ?? false\n    }\n  });\n\n}\n\n// =========================\n// SALIDA\n// =========================\nreturn resultado;"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1712,144],"id":"7c712b4b-c436-4ebe-9068-cc5e686cb09e","name":"Code in JavaScript12","alwaysOutputData":true},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"9b717444-76cb-41c9-ae1d-d97fbe75deca","leftValue":"={{ $('Loop Over Items2').item.json.referrer_id }}","rightValue":"","operator":{"type":"number","operation":"notEmpty","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.3,"position":[1264,144],"id":"79c3762d-c49d-44c2-bcd2-59c3819c21dc","name":"If1"},{"parameters":{"url":"https://southgenetics.odoo.com/jsonrpc","sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"jsonrpc\": \"2.0\",\n  \"method\": \"call\",\n  \"params\": {\n    \"service\": \"object\",\n    \"method\": \"execute_kw\",\n    \"args\": [\n      \"zanello1234-southgeneticsv17-main-10564043\",\n      193,\n      \"@ALFON2004so\",\n      \"res.partner\",\n      \"read\",\n      [\n        [\n                    {{$json.partner_id}}\n        ]\n      ],\n      {\n        \"fields\": [\n          \"id\",\n          \"name\",\n          \"country_id\",\n          \"parent_id\",\n          \"commercial_partner_id\",\n          \"company_name\",\n          \"is_company\"\n        ]\n      }\n    ]\n  }\n}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.4,"position":[912,224],"id":"a093d560-0f3b-4431-a8e2-acf637e7368b","name":"HTTP Request"},{"parameters":{"operation":"get","tableId":"products","filters":{"conditions":[{"keyName":"name","keyValue":"={{ $('Loop Over Items2').item.json.producto }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[2896,80],"id":"f70f9d46-0efd-43c5-8f84-024af9be2213","name":"Get a row","alwaysOutputData":true,"credentials":{"supabaseApi":{"id":"XHcaljVEAHxnAcxd","name":"P&L"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"b2778ca3-f7d2-4c2d-bd37-def117bdbcce","leftValue":"={{ $json.id }}","rightValue":"","operator":{"type":"string","operation":"empty","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.3,"position":[3104,80],"id":"eaff3599-dd75-4c68-b3ee-3a9eead95634","name":"If2"},{"parameters":{"jsCode":"const items = $input.all().map(item => item.json);\n\n// El de arriba: ya viene formateado\nconst formateado = items.find(i => !i.result && i.nombre !== undefined) ?? {};\n\n// El de abajo: respuesta cruda de Odoo\nconst raw = items.find(i => Array.isArray(i.result)) ?? {};\nconst rawRow = raw.result?.[0] ?? {};\n\n// País del de abajo, si existe\nconst paisAbajoId = Array.isArray(rawRow.country_id)\n  ? rawRow.country_id[0]\n  : null;\n\nconst paisAbajoNombre = Array.isArray(rawRow.country_id)\n  ? rawRow.country_id[1]\n  : \"\";\n\n// País final:\n// 1) usa el de abajo si tiene\n// 2) sino usa el de arriba\n// 3) sino queda vacío/null\nconst country_id = paisAbajoId ?? formateado.country_id ?? null;\nconst country = paisAbajoNombre || formateado.country || \"\";\n\nreturn [\n  {\n    json: {\n      id: formateado.id ?? rawRow.id ?? null,\n\n      nombre: formateado.nombre ?? rawRow.name ?? \"\",\n\n      institucion_id: formateado.institucion_id ?? null,\n      institucion: formateado.institucion ?? \"\",\n\n      parent_id: formateado.parent_id ?? (\n        Array.isArray(rawRow.parent_id) ? rawRow.parent_id[0] : null\n      ),\n\n      parent_nombre: formateado.parent_nombre ?? (\n        Array.isArray(rawRow.parent_id) ? rawRow.parent_id[1] : \"\"\n      ),\n\n      commercial_partner_id: formateado.commercial_partner_id ?? (\n        Array.isArray(rawRow.commercial_partner_id)\n          ? rawRow.commercial_partner_id[0]\n          : null\n      ),\n\n      commercial_partner: formateado.commercial_partner ?? (\n        Array.isArray(rawRow.commercial_partner_id)\n          ? rawRow.commercial_partner_id[1]\n          : \"\"\n      ),\n\n      country_id,\n      country,\n\n      company_name: formateado.company_name ?? rawRow.company_name ?? \"\",\n      is_company: formateado.is_company ?? rawRow.is_company ?? false\n    }\n  }\n];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[2160,144],"id":"4eb6839d-cb3a-4d24-beda-24714c97fe7a","name":"Code in JavaScript"},{"parameters":{},"type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[1920,144],"id":"089f8344-a5d6-4af1-ad53-dcf063e54e56","name":"Merge"}],"connections":{"HTTP Request3":{"main":[[{"node":"Code in JavaScript9","type":"main","index":0}]]},"login1":{"main":[[{"node":"HTTP Request3","type":"main","index":0}]]},"Code in JavaScript9":{"main":[[{"node":"Code in JavaScript8","type":"main","index":0},{"node":"Code in JavaScript10","type":"main","index":0},{"node":"Loop Over Items2","type":"main","index":0}]]},"Loop Over Items2":{"main":[[{"node":"Code in JavaScript11","type":"main","index":0}],[{"node":"HTTP Request","type":"main","index":0}]]},"Create a row2":{"main":[[{"node":"Loop Over Items2","type":"main","index":0}],[{"node":"Get a row1","type":"main","index":0}]]},"Get a row2":{"main":[[{"node":"If","type":"main","index":0}]]},"If":{"main":[[{"node":"Get a row","type":"main","index":0}],[{"node":"Update a row","type":"main","index":0}]]},"Get an item":{"main":[[{"node":"Create a row1","type":"main","index":0}]]},"Create a row1":{"main":[[{"node":"Create a row2","type":"main","index":0}]]},"Update a row":{"main":[[{"node":"Create a row2","type":"main","index":0}]]},"Get a row1":{"main":[[{"node":"Update a row1","type":"main","index":0}]]},"Update a row1":{"main":[[{"node":"Loop Over Items2","type":"main","index":0}]]},"Schedule Trigger":{"main":[[{"node":"login1","type":"main","index":0}]]},"HTTP Request4":{"main":[[{"node":"Code in JavaScript12","type":"main","index":0}]]},"Code in JavaScript12":{"main":[[{"node":"Merge","type":"main","index":0}]]},"If1":{"main":[[{"node":"HTTP Request4","type":"main","index":0}],[{"node":"Code in JavaScript12","type":"main","index":0}]]},"HTTP Request":{"main":[[{"node":"If1","type":"main","index":0},{"node":"Merge","type":"main","index":1}]]},"Get a row":{"main":[[{"node":"If2","type":"main","index":0}]]},"If2":{"main":[[{"node":"Get an item","type":"main","index":0}],[{"node":"Update a row","type":"main","index":0}]]},"Code in JavaScript":{"main":[[{"node":"Get a row2","type":"main","index":0}]]},"Merge":{"main":[[{"node":"Code in JavaScript","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","binaryMode":"separate"},"staticData":{"node:Schedule Trigger":{"recurrenceRules":[]},"node:Schedule Trigger1":{"recurrenceRules":[130]}},"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"60bcd22b-6fbf-4b92-a305-a237905bc17a","activeVersionId":"60bcd22b-6fbf-4b92-a305-a237905bc17a","versionCounter":591,"triggerCount":1,"shared":[{"updatedAt":"2026-04-01T13:34:33.567Z","createdAt":"2026-04-01T13:34:33.567Z","role":"workflow:owner","workflowId":"ux5h4tbSHE6SfRXA","projectId":"gBW1RChFYKYNJGMP","project":{"updatedAt":"2025-10-21T13:32:12.693Z","createdAt":"2025-07-14T16:13:43.901Z","id":"gBW1RChFYKYNJGMP","name":"Nicolás Vila <nvila@southgenetics.com>","type":"personal","icon":null,"description":null,"creatorId":"19aa7af9-a883-4aa3-81ea-367914563d10"}}],"tags":[],"activeVersion":{"updatedAt":"2026-06-04T04:11:15.000Z","createdAt":"2026-06-04T04:11:01.327Z","versionId":"60bcd22b-6fbf-4b92-a305-a237905bc17a","workflowId":"ux5h4tbSHE6SfRXA","nodes":[{"parameters":{"assignments":{"assignments":[{"id":"61923bb3-1c92-412e-8f42-dc7abb71ed28","name":"AFIRMA- Oncología","value":"Afirma GSC","type":"string"},{"id":"d53dec9d-ac48-4426-bc9e-172006587709","name":"Carrier","value":"Unity Carrier","type":"string"},{"id":"352bd32f-2242-431e-9f03-bffdd36bda2f","name":"Decision","value":"Decision DX: Add On","type":"string"},{"id":"cee527dd-45cc-43b5-ab33-43094bbd1a9d","name":"4KSCORE","value":"4Kscore","type":"string"},{"id":"d24cdfaa-609a-4b48-ac8a-f9b590aebd45","name":"Confirm MDx","value":"Confirm MDX","type":"string"},{"id":"95aa90c0-e3b4-404e-8106-10669e345cd0","name":"MATERNIT GENOME","value":"MaterniT Genome","type":"string"},{"id":"1ccd7e11-4708-40be-aedf-c214a8360ea5","name":"MATERNIT 21 + SCA","value":"MaterniT21","type":"string"},{"id":"b427500e-d8cc-40a7-9e8e-42c7fc02542a","name":"MATERNIT 21 + SCA + ESS","value":"MaterniT21 Plus","type":"string"},{"id":"265bbeea-bb40-4bc0-9c82-d62c61bd69e2","name":"PANEL CA HEREDITARIO EXTENDIDO","value":"Invitae Multi-Cancer Panel","type":"string"},{"id":"5cb60632-d78b-48d4-bab0-615ae3039765","name":"PANEL GENETICO INVITAE","value":"Panel Genetico Invitae","type":"string"},{"id":"d4e66d8c-58b5-49f0-98b9-887852b593db","name":"PATERNIDAD PRE","value":"Paternidad Prenatal BGI","type":"string"},{"id":"dc3d206e-c8d3-4859-b744-7574f010d249","name":"SENTIS™ Lung Cancer Medication Guidance (tissue, 50 genes)","value":"SENTIS™ Panel Gástrico (Tissue, 20 genes)","type":"string"},{"id":"2e93d807-5395-4fd3-bd19-4d7eab47335b","name":"SENTIS™ Lung Cancer Panel (Tissue, 20 genes)","value":"SENTIS™ Lung Cancer Panel (Tissue)","type":"string"},{"id":"6964e2d3-6c0a-442a-a871-37ecdd714ee1","name":"SENTIS™ Non-invasive Lung Cancer Panel (ctDNA, 13 genes)","value":"SENTIS™ Non-invasive Lung Cancer Panel (ctDNA)","type":"string"},{"id":"4245a566-7491-481f-8ea0-89a716a1a33a","name":"Sentis Discovery CTDNA","value":"Sentis Cancer + Discovery (B)","type":"string"},{"id":"3da5fff0-806f-47fa-91a0-bd4cf7d221a5","name":"Sentis Discovery Tissue","value":"Sentis Cancer + Discovery (T)","type":"string"},{"id":"202d3430-8d9a-4fa9-a667-66de9e0f612e","name":"Sentis: Multi-Cancer Precision Medication Guidance","value":"Sentis: Multi-Cancer Precision Medication Guidance (ctDNA)","type":"string"},{"id":"6e637c5b-42f9-456b-a7c3-ca98068f692a","name":"Unity Básico","value":"Unity","type":"string"},{"id":"8187f253-e0cb-48ee-81d9-bd9508925b28","name":"[CellSearch CTC] CellSearch CTC","value":"CellSearch CTC","type":"string"},{"id":"66834070-c0c7-452c-903a-87b54c19b13e","name":"[Genomic Prostate Score (GPS)] ONCOTYPE DX GPS (Próstata)","value":"Genomic Prostate Score","type":"string"},{"id":"9ebc05b1-38b7-47c9-a176-9013713ffdf8","name":"[Genomind Professional PGx] Genomind Profesional PGx","value":"Genomind Profesional PGx","type":"string"},{"id":"05350eca-9b10-419b-854e-cea387c92523","name":"[Oncotype Dx Mama] ONCOTYPE DX MAMA","value":"Oncotype Dx Mama","type":"string"},{"id":"b0e96ff2-6c34-447c-bcbe-ee9071a099c5","name":"[Tempus xF +] Tempus xF + biopsia liquida","value":"Tempus xF + biopsia liquida","type":"string"},{"id":"468e1336-4ca3-419d-b701-42d737e07767","name":"[XT + XR] Tempus XT + XR Tejido","value":"Tempus XT + XR Tejido","type":"string"},{"id":"12e98e58-fa5a-4625-b910-ba3a58b3c1ef","name":"[mirTHYpe FULL] Mir-THYpe(R)","value":"mirTHYpe FULL","type":"string"},{"id":"8448634f-9639-4e9a-bce7-a40ca99567d9","name":"[mirTHYpe preOp] mirTHYpe preOp","value":"mirTHYpe preOp","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-272,-272],"id":"4ca2e04a-ea33-4c10-8863-886fb8274381","name":"Edit Fields"},{"parameters":{"url":"https://southgenetics.odoo.com/jsonrpc","sendBody":true,"specifyBody":"json","jsonBody":"{\n  \"jsonrpc\": \"2.0\",\n  \"method\": \"call\",\n  \"params\": {\n    \"service\": \"object\",\n    \"method\": \"execute_kw\",\n    \"args\": [\n      \"zanello1234-southgeneticsv17-main-10564043\",\n      193,\n      \"@ALFON2004so\",\n      \"account.invoice.report\",\n      \"read_group\",\n      [\n        [\n          [\"move_type\", \"in\", [\"out_invoice\", \"out_refund\"]],\n          [\"state\", \"not in\", [\"draft\", \"cancel\"]],\n          [\"invoice_date\", \">=\", \"2026-04-01\"],\n          [\"invoice_date\", \"<=\", \"2026-12-31\"],\n          [\"partner_id\", \"!=\", 43633], \n          [\"partner_id\", \"!=\", 80637]\n        ],\n        [\n          \"quantity:sum\",\n          \"price_subtotal:sum\"\n        ],\n        [\n          \"invoice_date:day\",\n          \"company_id\",\n          \"product_id\",\n          \"partner_id\",\n          \"move_id\",\n          \"account_id\",\n          \"referrer_id\",\n          \"product_categ_id\"\n        ]\n      ],\n      {\n        \"lazy\": false\n      }\n    ]\n  }\n}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.3,"position":[176,224],"id":"212195ce-7888-48e8-9c65-5e03493e5dff","name":"HTTP Request3"},{"parameters":{"url":"https://southgenetics.odoo.com/jsonrpc","sendHeaders":true,"specifyHeaders":"json","jsonHeaders":"{\n  \"Content-Type\": \"application/json\"\n}\n","sendBody":true,"specifyBody":"json","jsonBody":"{\n  \"jsonrpc\": \"2.0\",\n  \"method\": \"call\",\n  \"params\": {\n    \"service\": \"common\",\n    \"method\": \"authenticate\",\n    \"args\": [\"zanello1234-southgeneticsv17-main-10564043\", \"azabaleta@southgenetics.com\", \"@ALFON2004so\", {}]\n  },\n  \"id\": 1\n}\n","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.3,"position":[-48,224],"id":"46b47afa-b5c8-4462-811b-bc6d40c2d1d5","name":"login1"},{"parameters":{"jsCode":"// =========================\n// CONFIG - productos a excluir por ID\n// =========================\nconst PRODUCTOS_EXCLUIDOS = new Set([]);\n\n// =========================\n// INPUT\n// =========================\nconst rows = $input.first().json.result ?? [];\n\n// =========================\n// Helpers\n// =========================\nconst normalize = (s) =>\n  String(s ?? \"\").replace(/\\s+/g, \" \").trim().toLowerCase();\n\nconst tieneValor = (v) =>\n  v !== null && v !== undefined && String(v).trim() !== \"\";\n\nconst empresasPermitidas = [\n  \"southgenetics llc argentina\",\n  \"southgenetics llc méxico\",\n  \"southgenetics llc uruguay\",\n  \"southgenetics llc colombia\",\n  \"southgenetics llc chile\",\n  \"southgenetics llc venezuela\",\n  \"southgenetics llc\"\n];\n\nconst esEmpresaValida = (empresa) =>\n  empresasPermitidas.includes(normalize(empresa));\n\n// =========================\n// Validación\n// =========================\nif (rows.length > 0) {\n  if (!Object.prototype.hasOwnProperty.call(rows[0], \"company_id\"))\n    throw new Error(\"La respuesta no trae company_id. Revisá el read_group.\");\n\n  if (!Object.prototype.hasOwnProperty.call(rows[0], \"partner_id\"))\n    throw new Error(\"La respuesta no trae partner_id. Revisá el read_group.\");\n\n  if (!Object.prototype.hasOwnProperty.call(rows[0], \"referrer_id\"))\n    throw new Error(\"La respuesta no trae referrer_id. Revisá el read_group.\");\n\n  if (!Object.prototype.hasOwnProperty.call(rows[0], \"product_id\"))\n    throw new Error(\"La respuesta no trae product_id. Revisá el read_group.\");\n\n  if (!Object.prototype.hasOwnProperty.call(rows[0], \"product_categ_id\"))\n    throw new Error(\"La respuesta no trae product_categ_id. Revisá el read_group.\");\n\n  if (!Object.prototype.hasOwnProperty.call(rows[0], \"move_id\"))\n    throw new Error(\"La respuesta no trae move_id. Revisá el read_group.\");\n}\n\n// =========================\n// Limpieza, filtrado y salida\n// =========================\nconst resultado = [];\n\nfor (const r of rows) {\n  const empresa = Array.isArray(r.company_id)\n    ? String(r.company_id[1] ?? \"\").trim()\n    : \"\";\n\n  const empresa_id = Array.isArray(r.company_id)\n    ? r.company_id[0]\n    : null;\n\n  const producto = Array.isArray(r.product_id)\n    ? String(r.product_id[1] ?? \"\").trim()\n    : \"\";\n\n  const producto_id = Array.isArray(r.product_id)\n    ? r.product_id[0]\n    : null;\n\n  const product_categ = Array.isArray(r.product_categ_id)\n    ? String(r.product_categ_id[1] ?? \"\").trim()\n    : \"\";\n\n  const product_categ_id = Array.isArray(r.product_categ_id)\n    ? r.product_categ_id[0]\n    : null;\n\n  const partner = Array.isArray(r.partner_id)\n    ? String(r.partner_id[1] ?? \"\").trim()\n    : \"\";\n\n  const partner_id = Array.isArray(r.partner_id)\n    ? r.partner_id[0]\n    : null;\n\n  const referrer = Array.isArray(r.referrer_id)\n    ? String(r.referrer_id[1] ?? \"\").trim()\n    : \"\";\n\n  const referrer_id = Array.isArray(r.referrer_id)\n    ? r.referrer_id[0]\n    : null;\n\n  const move_id = Array.isArray(r.move_id)\n    ? r.move_id[0]\n    : null;\n\n  const move_nombre = Array.isArray(r.move_id)\n    ? String(r.move_id[1] ?? \"\").trim()\n    : \"\";\n\n  const fecha_dia = String(r[\"invoice_date:day\"] ?? \"\").trim();\n\n  const fecha_dia_inicio =\n    String(r.__range?.[\"invoice_date:day\"]?.from ?? \"\").trim();\n\n  const cantidad = Number(r.quantity ?? 0);\n\n  const precio_total = Number(r.price_subtotal ?? 0);\n\n  // =========================\n  // Filtros\n  // =========================\n  const fechaValida =\n    tieneValor(fecha_dia_inicio) || tieneValor(fecha_dia);\n\n  if (\n    !fechaValida ||\n    !tieneValor(empresa) ||\n    !tieneValor(partner) ||\n    !tieneValor(producto) ||\n    !esEmpresaValida(empresa) ||\n    PRODUCTOS_EXCLUIDOS.has(producto_id)\n  ) continue;\n\n  resultado.push({\n    fecha_dia,\n    fecha_dia_inicio,\n\n    move_id,\n    move_nombre,\n\n    empresa_id,\n    empresa,\n\n    partner_id,\n    partner,\n\n    referrer_id,\n    referrer,\n\n    product_categ_id,\n    product_categ,\n\n    producto_id,\n    producto,\n\n    cantidad,\n\n    precio_unitario:\n      cantidad !== 0\n        ? precio_total / cantidad\n        : 0,\n\n    precio_total,\n  });\n}\n\n// =========================\n// Ordenar\n// =========================\nresultado.sort((a, b) => {\n  if ((a.fecha_dia_inicio || \"\") < (b.fecha_dia_inicio || \"\")) return -1;\n  if ((a.fecha_dia_inicio || \"\") > (b.fecha_dia_inicio || \"\")) return 1;\n\n  if ((a.empresa || \"\") < (b.empresa || \"\")) return -1;\n  if ((a.empresa || \"\") > (b.empresa || \"\")) return 1;\n\n  if ((a.partner || \"\") < (b.partner || \"\")) return -1;\n  if ((a.partner || \"\") > (b.partner || \"\")) return 1;\n\n  if ((a.producto || \"\") < (b.producto || \"\")) return -1;\n  if ((a.producto || \"\") > (b.producto || \"\")) return 1;\n\n  return 0;\n});\n\n// =========================\n// Salida final\n// =========================\nreturn resultado.map((r) => ({\n  json: r\n}));"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[400,224],"id":"78bc9a5a-67be-4115-a776-a3173c1e50c0","name":"Code in JavaScript9"},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[656,224],"id":"c95a3477-74ee-4738-903e-02468575aabd","name":"Loop Over Items2"},{"parameters":{"tableId":"ventas","fieldsUi":{"fieldValues":[{"fieldId":"fecha","fieldValue":"={{ $('Loop Over Items2').item.json.fecha_dia_inicio }}"},{"fieldId":"test","fieldValue":"={{ $json.alias }}"},{"fieldId":"amount","fieldValue":"={{ $('Loop Over Items2').item.json.precio_total }}"},{"fieldId":"company","fieldValue":"={{ $('Loop Over Items2').item.json.empresa }}"},{"fieldId":"id_producto","fieldValue":"={{ $json.id }}"},{"fieldId":"partner","fieldValue":"={{ $('Loop Over Items2').item.json.partner }}"},{"fieldId":"quantity","fieldValue":"={{ $('Loop Over Items2').item.json.cantidad }}"},{"fieldId":"move_id","fieldValue":"={{ $('Loop Over Items2').item.json.move_id }}"},{"fieldId":"move_nombre","fieldValue":"={{ $('Loop Over Items2').item.json.move_nombre }}"},{"fieldId":"medico","fieldValue":"={{ $('Loop Over Items2').item.json.referrer }}"},{"fieldId":"institucion","fieldValue":"={{ $('Code in JavaScript12').item.json.institucion || null}}"},{"fieldId":"pais","fieldValue":"={{ $('Code in JavaScript').item.json.country }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[3824,224],"id":"d0032121-cfcc-4ee4-9dd1-0476272304bd","name":"Create a row2","credentials":{"supabaseApi":{"id":"XHcaljVEAHxnAcxd","name":"P&L"}},"onError":"continueErrorOutput"},{"parameters":{"operation":"get","tableId":"products","filters":{"conditions":[{"keyName":"id_odoo","keyValue":"={{ $('Loop Over Items2').item.json.producto_id }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[2496,144],"id":"df22f731-4d7a-4fb8-ad4e-9c609daccfa0","name":"Get a row2","alwaysOutputData":true,"credentials":{"supabaseApi":{"id":"XHcaljVEAHxnAcxd","name":"P&L"}}},{"parameters":{"jsCode":"const items = $input.all();\n\n// Filtrar solo los que tienen error\nconst errores = items\n  .filter(i => i.json.error)\n  .map((i, index) => ({\n    index: index,\n    error: i.json.error,\n    data_original: i.json // opcional: podés ajustar esto\n  }));\n\nreturn [\n  {\n    json: {\n      total_procesados: items.length,\n      total_errores: errores.length,\n      errores: errores\n    }\n  }\n];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1264,-48],"id":"b820e116-1ecd-4469-8bc0-38b536373e3e","name":"Code in JavaScript11"},{"parameters":{"jsCode":"const rows = $input.all().map(item => item.json);\n\nconst cantidadesPorEmpresa = new Map();\n\nfor (const row of rows) {\n  const empresa = row.empresa || \"Sin empresa\";\n  const cantidad = Number(row.cantidad || 0);\n\n  cantidadesPorEmpresa.set(\n    empresa,\n    (cantidadesPorEmpresa.get(empresa) || 0) + cantidad\n  );\n}\n\nreturn [...cantidadesPorEmpresa.entries()].map(([empresa, total_cantidad]) => ({\n  json: {\n    empresa,\n    total_cantidad\n  }\n}));"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[624,32],"id":"a0ba8bdb-9e90-4975-912e-c1776698f724","name":"Code in JavaScript8"},{"parameters":{"jsCode":"const items = $input.all();\n\n// =========================\n// Acumular cantidades por empresa\n// =========================\nconst cantidadesPorEmpresa = {};\n\nfor (const item of items) {\n  const empresa = item.json.empresa || \"Sin empresa\";\n  const cantidad = Number(item.json.cantidad) || 0;\n\n  if (!cantidadesPorEmpresa[empresa]) {\n    cantidadesPorEmpresa[empresa] = 0;\n  }\n\n  cantidadesPorEmpresa[empresa] += cantidad;\n}\n\n// =========================\n// Salida\n// =========================\nreturn Object.entries(cantidadesPorEmpresa).map(([empresa, cantidad_total]) => ({\n  json: {\n    empresa,\n    cantidad_total\n  }\n}));"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[624,416],"id":"ddf9e093-3309-41c2-9749-8607e9a102a9","name":"Code in JavaScript10"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"86315b31-6d82-4e7b-ba10-b5af6d47cf47","leftValue":"={{ $json.id }}","rightValue":"","operator":{"type":"string","operation":"empty","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.3,"position":[2672,144],"id":"e78e9fb8-af56-4848-9225-1a5ed9541ad4","name":"If"},{"parameters":{"tableId":"products","fieldsUi":{"fieldValues":[{"fieldId":"name","fieldValue":"={{ $json.partner_ref }}"},{"fieldId":"base_price","fieldValue":"={{ $json.sale_avg_price }}"},{"fieldId":"currency","fieldValue":"={{ $json.company_currency_id[1] }}"},{"fieldId":"user_id","fieldValue":"6d02200b-5a44-4883-a392-34ca35ce0b6d"},{"fieldId":"category","fieldValue":"={{ $json.categ_id[1] }}"},{"fieldId":"alias","fieldValue":"={{ $json.partner_ref }}"},{"fieldId":"id_odoo","fieldValue":"={{ $json.id }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[3600,48],"id":"887a71a5-959c-435c-a7d2-0560b3bab5ed","name":"Create a row1","credentials":{"supabaseApi":{"id":"XHcaljVEAHxnAcxd","name":"P&L"}}},{"parameters":{"resource":"custom","customResource":"product.product","operation":"get","customResourceId":"={{ $('Loop Over Items2').item.json.producto_id }}","options":{}},"type":"n8n-nodes-base.odoo","typeVersion":1,"position":[3376,48],"id":"394ffdf1-696a-4618-8e19-c41b3f5752be","name":"Get an item","credentials":{"odooApi":{"id":"h3Ow1x6KQ08bMDHt","name":"Conexion Alfonso Produccion"}}},{"parameters":{"operation":"update","tableId":"products","filters":{"conditions":[{"keyName":"id","condition":"eq","keyValue":"={{ $json.id }}"}]},"fieldsUi":{"fieldValues":[{"fieldId":"id_odoo","fieldValue":"={{ $json.id_odoo }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[3600,240],"id":"599ac4c2-f3b6-4817-b733-17c791454e5b","name":"Update a row","credentials":{"supabaseApi":{"id":"XHcaljVEAHxnAcxd","name":"P&L"}}},{"parameters":{"operation":"get","tableId":"ventas","filters":{"conditions":[{"keyName":"id_producto","keyValue":"={{ $json.id }}"},{"keyName":"partner","keyValue":"={{ $('Loop Over Items2').item.json.partner }}"},{"keyName":"fecha","keyValue":"={{ $('Loop Over Items2').item.json.fecha_dia_inicio }}"},{"keyName":"company","keyValue":"={{ $('Loop Over Items2').item.json.empresa }}"},{"keyName":"move_id","keyValue":"={{ $('Loop Over Items2').item.json.move_id }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[4048,224],"id":"b6732dcd-a245-4ede-a0b0-d3a79549e1df","name":"Get a row1","credentials":{"supabaseApi":{"id":"XHcaljVEAHxnAcxd","name":"P&L"}}},{"parameters":{"operation":"update","tableId":"ventas","filters":{"conditions":[{"keyName":"id","condition":"eq","keyValue":"={{ $json.id }}"}]},"fieldsUi":{"fieldValues":[{"fieldId":"move_id","fieldValue":"={{ $('Loop Over Items2').item.json.move_id }}"},{"fieldId":"move_nombre","fieldValue":"={{ $('Loop Over Items2').item.json.move_nombre }}"},{"fieldId":"medico","fieldValue":"={{ $('Loop Over Items2').item.json.referrer }}"},{"fieldId":"institucion","fieldValue":"={{ $('Code in JavaScript12').item.json.institucion }}"},{"fieldId":"pais","fieldValue":"={{ $('Code in JavaScript').item.json.country }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[4272,368],"id":"74d112c9-35b9-4f62-886f-078c7f80e79d","name":"Update a row1","credentials":{"supabaseApi":{"id":"XHcaljVEAHxnAcxd","name":"P&L"}}},{"parameters":{"rule":{"interval":[{}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.3,"position":[-272,224],"id":"aaf45a30-0f0f-4042-8fa7-4e8b18b8c806","name":"Schedule Trigger"},{"parameters":{"url":"https://southgenetics.odoo.com/jsonrpc","sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"jsonrpc\": \"2.0\",\n  \"method\": \"call\",\n  \"params\": {\n    \"service\": \"object\",\n    \"method\": \"execute_kw\",\n    \"args\": [\n      \"zanello1234-southgeneticsv17-main-10564043\",\n      193,\n      \"@ALFON2004so\",\n      \"res.partner\",\n      \"read\",\n      [\n        [\n                    {{ $('Loop Over Items2').item.json.referrer_id }}\n        ]\n      ],\n      {\n        \"fields\": [\n          \"id\",\n          \"institucion_id\",\n          \"name\",\n          \"country_id\",\n          \"parent_id\",\n          \"commercial_partner_id\",\n          \"company_name\",\n          \"is_company\"\n        ]\n      }\n    ]\n  }\n}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.3,"position":[1488,80],"id":"b68a33bc-82bb-492c-a6e2-de25dea62af0","name":"HTTP Request4"},{"parameters":{"jsCode":"// =========================\n// INPUT\n// =========================\nconst data = $input.first().json;\n\n// El array real viene dentro de result\nconst rows = data.result ?? [];\n\n// =========================\n// OUTPUT\n// =========================\nconst resultado = [];\n\nfor (const r of rows) {\n\n  resultado.push({\n    json: {\n      id: r.id ?? null,\n\n      nombre: r.name ?? \"\",\n\n      institucion_id: Array.isArray(r.institucion_id)\n        ? r.institucion_id[0]\n        : null,\n\n      institucion: Array.isArray(r.institucion_id)\n        ? r.institucion_id[1]\n        : \"\",\n\n      parent_id: Array.isArray(r.parent_id)\n        ? r.parent_id[0]\n        : null,\n\n      parent_nombre: Array.isArray(r.parent_id)\n        ? r.parent_id[1]\n        : \"\",\n\n      commercial_partner_id: Array.isArray(r.commercial_partner_id)\n        ? r.commercial_partner_id[0]\n        : null,\n\n      commercial_partner: Array.isArray(r.commercial_partner_id)\n        ? r.commercial_partner_id[1]\n        : \"\",\n\n      country_id: Array.isArray(r.country_id)\n        ? r.country_id[0]\n        : null,\n\n      country: Array.isArray(r.country_id)\n        ? r.country_id[1]\n        : \"\",\n\n      company_name: r.company_name || \"\",\n      is_company: r.is_company ?? false\n    }\n  });\n\n}\n\n// =========================\n// SALIDA\n// =========================\nreturn resultado;"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1712,144],"id":"7c712b4b-c436-4ebe-9068-cc5e686cb09e","name":"Code in JavaScript12","alwaysOutputData":true},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"9b717444-76cb-41c9-ae1d-d97fbe75deca","leftValue":"={{ $('Loop Over Items2').item.json.referrer_id }}","rightValue":"","operator":{"type":"number","operation":"notEmpty","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.3,"position":[1264,144],"id":"79c3762d-c49d-44c2-bcd2-59c3819c21dc","name":"If1"},{"parameters":{"url":"https://southgenetics.odoo.com/jsonrpc","sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"jsonrpc\": \"2.0\",\n  \"method\": \"call\",\n  \"params\": {\n    \"service\": \"object\",\n    \"method\": \"execute_kw\",\n    \"args\": [\n      \"zanello1234-southgeneticsv17-main-10564043\",\n      193,\n      \"@ALFON2004so\",\n      \"res.partner\",\n      \"read\",\n      [\n        [\n                    {{$json.partner_id}}\n        ]\n      ],\n      {\n        \"fields\": [\n          \"id\",\n          \"name\",\n          \"country_id\",\n          \"parent_id\",\n          \"commercial_partner_id\",\n          \"company_name\",\n          \"is_company\"\n        ]\n      }\n    ]\n  }\n}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.4,"position":[912,224],"id":"a093d560-0f3b-4431-a8e2-acf637e7368b","name":"HTTP Request"},{"parameters":{"operation":"get","tableId":"products","filters":{"conditions":[{"keyName":"name","keyValue":"={{ $('Loop Over Items2').item.json.producto }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[2896,80],"id":"f70f9d46-0efd-43c5-8f84-024af9be2213","name":"Get a row","alwaysOutputData":true,"credentials":{"supabaseApi":{"id":"XHcaljVEAHxnAcxd","name":"P&L"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"b2778ca3-f7d2-4c2d-bd37-def117bdbcce","leftValue":"={{ $json.id }}","rightValue":"","operator":{"type":"string","operation":"empty","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.3,"position":[3104,80],"id":"eaff3599-dd75-4c68-b3ee-3a9eead95634","name":"If2"},{"parameters":{"jsCode":"const items = $input.all().map(item => item.json);\n\n// El de arriba: ya viene formateado\nconst formateado = items.find(i => !i.result && i.nombre !== undefined) ?? {};\n\n// El de abajo: respuesta cruda de Odoo\nconst raw = items.find(i => Array.isArray(i.result)) ?? {};\nconst rawRow = raw.result?.[0] ?? {};\n\n// País del de abajo, si existe\nconst paisAbajoId = Array.isArray(rawRow.country_id)\n  ? rawRow.country_id[0]\n  : null;\n\nconst paisAbajoNombre = Array.isArray(rawRow.country_id)\n  ? rawRow.country_id[1]\n  : \"\";\n\n// País final:\n// 1) usa el de abajo si tiene\n// 2) sino usa el de arriba\n// 3) sino queda vacío/null\nconst country_id = paisAbajoId ?? formateado.country_id ?? null;\nconst country = paisAbajoNombre || formateado.country || \"\";\n\nreturn [\n  {\n    json: {\n      id: formateado.id ?? rawRow.id ?? null,\n\n      nombre: formateado.nombre ?? rawRow.name ?? \"\",\n\n      institucion_id: formateado.institucion_id ?? null,\n      institucion: formateado.institucion ?? \"\",\n\n      parent_id: formateado.parent_id ?? (\n        Array.isArray(rawRow.parent_id) ? rawRow.parent_id[0] : null\n      ),\n\n      parent_nombre: formateado.parent_nombre ?? (\n        Array.isArray(rawRow.parent_id) ? rawRow.parent_id[1] : \"\"\n      ),\n\n      commercial_partner_id: formateado.commercial_partner_id ?? (\n        Array.isArray(rawRow.commercial_partner_id)\n          ? rawRow.commercial_partner_id[0]\n          : null\n      ),\n\n      commercial_partner: formateado.commercial_partner ?? (\n        Array.isArray(rawRow.commercial_partner_id)\n          ? rawRow.commercial_partner_id[1]\n          : \"\"\n      ),\n\n      country_id,\n      country,\n\n      company_name: formateado.company_name ?? rawRow.company_name ?? \"\",\n      is_company: formateado.is_company ?? rawRow.is_company ?? false\n    }\n  }\n];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[2160,144],"id":"4eb6839d-cb3a-4d24-beda-24714c97fe7a","name":"Code in JavaScript"},{"parameters":{},"type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[1920,144],"id":"089f8344-a5d6-4af1-ad53-dcf063e54e56","name":"Merge"}],"connections":{"HTTP Request3":{"main":[[{"node":"Code in JavaScript9","type":"main","index":0}]]},"login1":{"main":[[{"node":"HTTP Request3","type":"main","index":0}]]},"Code in JavaScript9":{"main":[[{"node":"Code in JavaScript8","type":"main","index":0},{"node":"Code in JavaScript10","type":"main","index":0},{"node":"Loop Over Items2","type":"main","index":0}]]},"Loop Over Items2":{"main":[[{"node":"Code in JavaScript11","type":"main","index":0}],[{"node":"HTTP Request","type":"main","index":0}]]},"Create a row2":{"main":[[{"node":"Loop Over Items2","type":"main","index":0}],[{"node":"Get a row1","type":"main","index":0}]]},"Get a row2":{"main":[[{"node":"If","type":"main","index":0}]]},"If":{"main":[[{"node":"Get a row","type":"main","index":0}],[{"node":"Update a row","type":"main","index":0}]]},"Get an item":{"main":[[{"node":"Create a row1","type":"main","index":0}]]},"Create a row1":{"main":[[{"node":"Create a row2","type":"main","index":0}]]},"Update a row":{"main":[[{"node":"Create a row2","type":"main","index":0}]]},"Get a row1":{"main":[[{"node":"Update a row1","type":"main","index":0}]]},"Update a row1":{"main":[[{"node":"Loop Over Items2","type":"main","index":0}]]},"Schedule Trigger":{"main":[[{"node":"login1","type":"main","index":0}]]},"HTTP Request4":{"main":[[{"node":"Code in JavaScript12","type":"main","index":0}]]},"Code in JavaScript12":{"main":[[{"node":"Merge","type":"main","index":0}]]},"If1":{"main":[[{"node":"HTTP Request4","type":"main","index":0}],[{"node":"Code in JavaScript12","type":"main","index":0}]]},"HTTP Request":{"main":[[{"node":"If1","type":"main","index":0},{"node":"Merge","type":"main","index":1}]]},"Get a row":{"main":[[{"node":"If2","type":"main","index":0}]]},"If2":{"main":[[{"node":"Get an item","type":"main","index":0}],[{"node":"Update a row","type":"main","index":0}]]},"Code in JavaScript":{"main":[[{"node":"Get a row2","type":"main","index":0}]]},"Merge":{"main":[[{"node":"Code in JavaScript","type":"main","index":0}]]}},"authors":"Nicolás Vila","name":"Version 60bcd22b","description":"","autosaved":false,"workflowPublishHistory":[{"createdAt":"2026-06-04T04:11:15.510Z","id":1723,"workflowId":"ux5h4tbSHE6SfRXA","versionId":"60bcd22b-6fbf-4b92-a305-a237905bc17a","event":"activated","userId":"19aa7af9-a883-4aa3-81ea-367914563d10"}]}}